@font-face {
    font-family: "NeoDgm";
    src: url("./neodgm_pro.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: Arial, sans-serif;
    color: rgb(35, 31, 41);
    font-size: small;
    text-align: center;
    line-height: 140%;
    word-wrap: break-word;
}

ul {
    text-align: start;
}

li {
    list-style: inside;
    list-style-type: circle;
}

hr {
    border: 1px #af97ce;
    border-style: dashed;
}

button#play {
    border: 0;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

div#container {
    width: 100%;
    text-align: center;
    margin: 1em 0;
}

.content {
    max-width: 80vw;
    max-height : 80vh;
    min-width: 512px;
    min-height: 384px;
    background-color: black;
}

#touchKeyContainer {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    left: 0;
    top: 0;
    position: fixed;
}

.touchKeyArea {
    pointer-events: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

button.touchKey {
    pointer-events: auto;
    font-size: max(9vmin, 64px);
    background-color: rgba(255, 255, 255, 0.5);
    width: 2em;
    height: 2em;
    padding: 0;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: 0.8em;
    margin: 0.08em;
}

aside#manual {
    text-align: center;
    width: fit-content;
    padding: 5px;
    display: inline-block;
}

footer {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
}

footer p {
    font-style: normal;
}

a.footerLink:link,
a.footerLink:visited,
a.footerLink:hover,
a.footerLink:active {
    color: rgb(120, 100, 150);
}
